<%= form_with(model: tournament) do |form| %>
  <% if tournament.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tournament.errors.count, "error") %> prohibited this tournament from being saved:</h2>

      <ul>
        <% tournament.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-group form-field date-field">
    <div class="field-tag">
      <div class="input-group-prepend" >
        <span class="input-group-text tag-style">
          <%= form.label :start_date %>
        </span>
      </div>
    </div>
    <%= form.datetime_select :start_date, class: "form-control" %>
  </div>

  <div class="input-group form-field date-field">
    <div class="field-tag">
      <div class="input-group-prepend" >
        <span class="input-group-text tag-style">
          <%= form.label :end_date %>
        </span>
      </div>
    </div>
    <%= form.datetime_select :end_date, class: "date-form" %>
  </div>

  <div class="input-group form-field">
    <div class="field-tag">
      <div class="input-group-prepend" >
        <span class="input-group-text tag-style">
          <%= form.label :title %>
        </span>
      </div>
    </div>
    <%= form.text_field :title, class: "form-control" %>
  </div>

  <div class="actions text-center">
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>