<p class="text-end"><%= link_to 'New Tournament', new_tournament_path, class: 'btn btn-primary m-3' %></p>
<div class="container">
  <% @tournaments.map {|x| [x.active ? 0 : 1, x ]}.sort.map { |x| x.second }
.each do |tournament| %>
    <div class="post-card">
      <p class="spy-eye text-end">
        <%= link_to tournament, class: 'btn btn-primary m-3' do %>
          <span class="material-icons">add_box</span>
        <% end %>
        <%= link_to edit_tournament_path(tournament), class: 'btn btn-primary m-3' do %>
          <span class="material-icons">edit</span>
        <% end %>
        <%= link_to tournament, method: :delete, data: {confirm: "Do you really want to delete #{tournament.title} tournament?"}, class: 'btn btn-danger m-3' do %>
          <span class="material-icons">delete</span>
        <% end %>
      </p>
      <%= link_to tournament_path(tournament), class: 'text-decoration-none' do %>
        <div class="card mb-3">
          <div class="card-body">
            <div class="row">
              <div class="col-md-4 tournament-box">
                <p class="card-text lead"><%= tournament.title %></p>
                <% if tournament.active %>
                  <p class="badge badge-pill badge-success bg-success">Active</p>
                <% else %>
                  <p class="badge badge-pill badge-success bg-danger">Unactive</p>
                <% end %>
                <br>
                <span class="badge badge-pill bg-secondary badge-secondary"><%= tournament.start_date.strftime("%d/%m/%Y") %> - <%= tournament.end_date.strftime("%d/%m/%Y") %></span>
              </div>
              <div class="col-md-8">
                <p class="card-text text-center text-dark">Contenders</p>
                <div class="d-flex flex-wrap justify-content-center">
                  <% tournament.puzzle_contenders.map { |x| [x.votes.count, x] }.sort.reverse.map {|x| x.second}.each do |contender| %>
                    <% if contender.puzzle.image.present? %>
                      <div class="tournament_puzzle_image" style="background-image: url(<%= url_for(contender.puzzle.image) %>);"><p class="vote-count lead"><span class="badge badge-pill text-secondary bg-light"><%= contender.votes.count %><span class="material-icons vote-icon">favorite</span></span></p></div>
                    <% else %>
                      <div class="card lead bg-dark text-light tournament_puzzle_image text-center">
                        <%= contender.puzzle.title %>
                        <div class="m-auto">
                          <p class="badge badge-pill text-secondary bg-light"><%= contender.votes.count %><span class="material-icons vote-icon">favorite</span>
                          </p>
                      </div>
                      </div>
                    <% end %>
                  <% end %>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>