<div class="jumbotron bg-light p-2 admin-jumbotron">
  <h1 class="display-4 text-center m-0  "><%= @tournament.title %></h1>
  <h6 class="text-center m-0"><span class="badge badge-pill bg-secondary badge-secondary"><%= @tournament.start_date.strftime("%d/%m/%Y") %> - <%= @tournament.end_date.strftime("%d/%m/%Y") %></span></h6>
  <p class="lead">
    Total contenders: <%= @tournament.puzzle_contenders.count %>
    <br>
    Total Votes: <%= @total_votes %>
    <br>
    <div class="text-center container lead">
      <% if !@tournament.current_winner.nil? && @tournament.current_winner.any? %>
        Leaderboard <span class="badge badge-pill badge-success bg-success mb-2"><%= @tournament.current_winner.first.second.count %><span class="winner-badge material-icons">military_tech</span></span>
        <ul class="list-group">
          <li class="list-group-item d-flex justify-content-around align-items-center"><h5 class="m-0">CONTENDERS</h4><h4 class="m-0">VOTES</h5></li>
          <% @tournament.current_winner.each do |element| %>
          <li class="list-group-item d-flex justify-content-around align-items-center">
            <span>
              <% element.second.each do |contender| %>
                <% if contender.second.persisted? %>
                  <div class="puzzle-contender-info">
                    <%= link_to contender.second, method: :delete, class: "text-decoration-none" do %>
                      <span class="material-icons trash-icon text-danger text">delete</span>
                    <% end %>
                    <%= link_to contender.second.puzzle, class: "text-decoration-none users-tooltip" do %>
                      <%= contender.second.puzzle.title %>
                      <% if contender.second.votes.any? %>
                        <span class="tooltiptext p-2 bg-dark text-light"><%= contender.second.votes.map { |vote| vote.username }.join(", ") %></span>
                      <% else %>
                        <span class="tooltiptext p-2 bg-dark text-light">No votes :(</span>
                      <% end %>
                    <% end %>
                    <!--<= render "vote_contender_form", vote: @vote, contender: contender.second >-->
                  </div>
                  <% unless contender.eql?(element.second.last) %>
                    <hr>
                  <% end %>
                <% end %>
              <% end %>
            </span>
            <span class="badge badge-primary badge-pill bg-primary"><%= element.first %></span>
          </li>
          <% end %>
        </ul>
      <% else %>
        No contenders or votes so far
      <% end %>
    </div>
  </p>
  <hr class="my-4">
  <div class="card ms-5 me-5 text-center">
    <div class="card-body">
      <h5 class="card-title">New Contender</h5>
      <%= render "contenders_form", tournament: @tournament, contender: @contender %>
    </div>
  </div>
  <hr class="my-4">
  <p class="lead text-center p-2 m-2">
    <%= link_to 'Edit', edit_tournament_path(@tournament), class: "btn btn-primary btn-lg" %>  
    <%= link_to 'Destroy', @tournament, method: :delete, class: "btn btn-danger btn-lg" %>
  </p>
</div>