<p id="notice"><%= notice %></p>

<p>
  <strong>Start date:</strong>
  <%= @tournament.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @tournament.end_date %>
</p>

<p>
  <strong>Title:</strong>
  <%= @tournament.title %>
</p>

<%= link_to 'Edit', edit_tournament_path(@tournament) %> |
<%= link_to 'Back', tournaments_path %>
