<%= link_to 'Back', puzzles_path, class: 'btn btn-dark m-3' %>
<div class='row m-2'>
  <div class="col-md-6">
    <div class="card">
      <h3 class="text-center m-1"><%= @puzzle.title %></h3>
      <hr>
      <% if @puzzle.image.present? %>
        <%= image_tag @puzzle.image, class: 'card-img-top'%>
      <% end %>
      <div class="card-body">
        <p class="card-text">Description: <%= @puzzle.description %></p>
        <p class="card-text">Total: <%= @puzzle.pieces %> pieces.</p>
        <div class="d-flex justify-content-between">
          <%= link_to edit_puzzle_path(@puzzle), class: 'btn btn-primary col-5' do %>
            <span class="material-icons">edit</span>
          <% end %>
          <p class="text-end"><span class="badge badge-dark bg-secondary"><%= @puzzle.start_date %> - <%= @puzzle.end_date %></span></p>
        </div>
        <%=  link_to 'Delete', puzzle_path(@puzzle), method: :delete, class: 'btn btn-danger mt-3 d-block', data: {confirm: "Are you sure, you want to delete #{@puzzle.title} ?"} %>
      </div>
    </div>
  </div>
  <div class="col-md-5">
    <% if @puzzle.memories.any? %>
      <div class="card">
        <h3 class="text-center m-1">Memories</h3>
        <hr>
        <% @puzzle.memories.each do |memory| %>
          <div class="container memory-container">
            <%=  link_to 'Delete', memory, method: :delete, class: 'btn btn-danger delete-memory btn-sm', data: {confirm: "Are you sure, you want to delete this memory ?"} %>
            <% memory.image_memories.each do |memory_image| %>
              <div class="card-body">
                <h6 class="card-title text-start"><span class="badge badge-sucess bg-success">Image Memory</span></h6>
                <% if memory_image.image.present? %>
                  <%= image_tag memory_image.image, class: "rounded img-fluid", alt: memory_image.alt %>
                <% else %>
              </div>
              <div class="card-body">
                <h5 class="card-title">Coudn't find the image... :(</h5>
              </div>
              <% end %>
            <% end %>
            <% memory.text_memories.each do |text_memory| %>
              <div class="card-body">
                <h6 class="card-title text-start"><span class="badge badge-sucess bg-success">Text Memory</span></h6>
                <h5 class="card-title"><%= text_memory.title %></h5>
                <p class="card-text"><%= text_memory.description %></p>
              </div>
            <% end %>
            <h6 class="text-center text-primary"><%= memory.user_names42 %> (<%= memory.created_at.strftime("%d/%m/%Y") %>)</h6>
            <% unless @puzzle.memories.last.eql?(memory) %>
              <hr>
            <% end %>
          </div>
        <% end %>
      </div>
    <% else %>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">No Memories so far...</h5>
        </div>
      </div>
    <% end %>
    <div class="card mt-3">
      <h6 class="text-center mt-3">Add an Image memory</h6>
      <%= render 'image_memory_form', memory: @memory, puzzle: @puzzle%>
    </div>
    <div class="card mt-3">
      <h6 class="text-center mt-3">Add a Text memory</h6>
      <%= render 'text_memory_form', memory: @memory, puzzle: @puzzle%>
    </div>
  </div>
</div>