<%= form_with(model: contributor) do |form| %>
  <% if contributor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(contributor.errors.count, "error") %> prohibited this contributor from being saved:</h2>

      <ul>
        <% contributor.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="container">
    <div class="field">
      <%= form.label :puzzle_id, class: "form-control"%>
      <%= form.collection_select :puzzle_id, Puzzle.all, :id, :title, {}, class: "form-control" %>
    </div>

    <div class="form-field">
      <%= form.label :is_finished %>
      <%= form.check_box :is_finished, class: "m-4" %>
    </div>

    <div class="input-group form-field">
      <div class="field-tag">
        <div class="input-group-prepend" >
          <span class="input-group-text tag-style">
            <%= form.label :finish_date %>
          </span>
        </div>
      </div>
      <%= form.date_field :finish_date, class: 'form-control' %>
    </div>

    <div class="actions">
      <%= form.submit 'Submit', :class => 'form-control btn btn-primary'  %>
    </div>
  </div>
<% end %>
