<!DOCTYPE html>
<html>
  <head>
    <title>Puzzle42</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Material+Icons">
    <%= stylesheet_link_tag 'visitors', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!--<p class="notice"><= notice ></p>-->
    <%= yield %>
  </body>
</html>
